<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>R mini - Sign Up</title>

    <link rel="stylesheet" href="authStyle.css" />
  </head>
  <body>
    <section class="wrapper">
      <div class="content">
        <header><h1>Welcome on board</h1></header>
        <form class="login-form">
          <div class="input-group">
            <input type="text" placeholder="Full Name" />
          </div>
          <div class="input-group">
            <input type="text" placeholder="Email" />
          </div>
          <div class="input-group">
            <input type="text" placeholder="Password" />
          </div>
          <div class="input-group">
            <input type="text" placeholder="Pin" />
          </div>
          <div class="input-group"><button>Sign Up</button></div>
        </form>
      </div>
    </section>
  </body>
</html>
