<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>R mini - Sign In</title>

    <!-- CSS files -->
    <link rel="stylesheet" href="authStyle.css" />
  </head>
  <body>
    <section class="wrapper">
      <div class="content">
        <header>
          <h1>Welcome back</h1>
        </header>
        <section>
          <div class="social-login">
            <button>
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
                alt="google"
                width="20"
              /><span>Google</span>
            </button>
            <button>
              <img
                src="https://cdn.freebiesupply.com/logos/large/2x/facebook-2-logo-svg-vector.svg"
                alt="facebook"
                width="10"
              /><span>Facebook</span>
            </button>
          </div>
          <form action="" class="login-form">
            <div class="input-group">
              <input type="text" placeholder="Email" />
            </div>
            <div class="input-group">
              <input type="password" placeholder="Password" />
            </div>
            <div class="input-group"><button>Sign In</button></div>
          </form>
        </section>
        <footer>
          <a href="#" title="Forgot Password">Forgot Password</a>
        </footer>
      </div>
    </section>
  </body>
</html>
