<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>R mini | A Demo app</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="navBar">
        <div class="logo">
          <a href="#"><img src="../../imgs/R.png" alt="R mini logo" /></a>
        </div>
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Cart</a></li>
            <li><a href="#">Account</a></li>
          </ul>
        </nav>
      </div>
      <div class="row">
        <div class="colSpan1Of2">
          <h1>Retail made <br />easier</h1>
          <p>Making life easier for retailers in Pakistan</p>
          <a href="#" class="btn">Explore more &#8594</a>
        </div>
        <div class="colSpan1Of2">
          <img src="../../imgs/R.png" alt="R mini logo" />
        </div>
      </div>
    </div>
  </body>
</html>
